/* CSS declarations go here */
.hidden_div{
	display:none;
}
.pad{
    padding-top:80px;
    transition:0.5s;
    
}
h2{
    text-align:left;
    font-size:50px;
    font-family: 'Amaranth', sans-serif;
    
}

